<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4000" targetFramework="net471" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4000" targetFramework="net471" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net471" />
</packages>